<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
        <title>{{title}}</title>
        <style>
        table {
            width: 70%;
            border-collapse: collapse;
            }
        td, th {
            border: 1px solid #98bf21;
            text-align: center;
            }
        th {
            background-color: #A7C942;
            }
        .alt td {background-color: #EAF2D3;}

        </style>
    </head>
    <body>
        <h1>SIGame discord-bot support site</h1>
        <h4>Here you can add packs to play after authorization</h4>
        {% if current_user.is_authenticated %}
        <a class="navbar-brand" href="/logout">{{ current_user.name }} {{ current_user.surname }}</a>
        <a class="btn btn-secondary" href="/game/{{game_id}}/rounds/1/category">Add pack</a>
        {% else %}
        <p>
            <a class="btn btn-primary " href="/register">Register</a>
            <a class="btn btn-success" href="/login">Log in</a>
        </p>
        {% endif %}
        {% block content %}{% endblock %}
    </body>
</html>