{% extends "base.html" %}

{% block content %}
<h1>Pack Making</h1>
<h4>Category</h4>
<form action="" method="post">
    {{ game_form.hidden_tag() }}
    {{ game_form.csrf_token }}
    <p>
        {{ game_form.category.label }}<br>
        {{ game_form.category(class="form-control") }}<br>
        {% for error in game_form.category.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ game_form.description.label }}<br>
        {{ game_form.description(class="form-control") }}<br>
        {% for error in game_form.description.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <h4>Question #1</h4>
    <p>
        {{ game_form.text.label }}<br>
        {{ game_form.text(class="form-control") }}<br>
        {% for error in game_form.text.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ game_form.par.label }}<br>
        {{ game_form.par(class="form-control") }}<br>
        {% for error in game_form.par.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ game_form.answers.label }}<br>
        {{ game_form.answers(class="form-control") }}<br>
        {% for error in game_form.answers.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ game_form.time.label }}<br>
        {{ game_form.time(class="form-control") }}<br>
        {% for error in game_form.time.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <h4>Question #2</h4>
    <p>
        {{ game_form.text_1.label }}<br>
        {{ game_form.text_1(class="form-control") }}<br>
        {% for error in game_form.text_1.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ game_form.par_1.label }}<br>
        {{ game_form.par_1(class="form-control") }}<br>
        {% for error in game_form.par_1.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ game_form.answers_1.label }}<br>
        {{ game_form.answers_1(class="form-control") }}<br>
        {% for error in game_form.answers_1.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ game_form.time_1.label }}<br>
        {{ game_form.time_1(class="form-control") }}<br>
        {% for error in game_form.time_1.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <h4>Question #3</h4>
    <p>
        {{ game_form.text_2.label }}<br>
        {{ game_form.text_2(class="form-control") }}<br>
        {% for error in game_form.text_2.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ game_form.par_2.label }}<br>
        {{ game_form.par_2(class="form-control") }}<br>
        {% for error in game_form.par_2.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ game_form.answers_2.label }}<br>
        {{ game_form.answers_2(class="form-control") }}<br>
        {% for error in game_form.answers_2.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ game_form.time_2.label }}<br>
        {{ game_form.time_2(class="form-control") }}<br>
        {% for error in game_form.time_2.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <h4>Question #4</h4>
    <p>
        {{ game_form.text_3.label }}<br>
        {{ game_form.text_3(class="form-control") }}<br>
        {% for error in game_form.text_3.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ game_form.par_3.label }}<br>
        {{ game_form.par_3(class="form-control") }}<br>
        {% for error in game_form.par_3.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ game_form.answers_3.label }}<br>
        {{ game_form.answers_3(class="form-control") }}<br>
        {% for error in game_form.answers_3.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ game_form.time_3.label }}<br>
        {{ game_form.time_3(class="form-control") }}<br>
        {% for error in game_form.time_3.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <h4>Question #5</h4>
    <p>
        {{ game_form.text_4.label }}<br>
        {{ game_form.text_4(class="form-control") }}<br>
        {% for error in game_form.text_4.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ game_form.par_4.label }}<br>
        {{ game_form.par_4(class="form-control") }}<br>
        {% for error in game_form.par_4.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ game_form.answers_4.label }}<br>
        {{ game_form.answers_4(class="form-control") }}<br>
        {% for error in game_form.answers_4.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ game_form.time_4.label }}<br>
        {{ game_form.time_4(class="form-control") }}<br>
        {% for error in game_form.time_4.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>{{ game_form.category_submit(type="submit", class="btn btn-primary") }}</p>
    <p>{{ game_form.round_submit(type="submit", class="btn btn-primary") }}</p>
    <p>{{ game_form.finish_submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}