{% extends "base.html" %}

{% block content %}
<h1>Category</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.par.label }}<br>
        {{ form.par(class="form-control") }}<br>
        {% for error in form.par.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.text.label }}<br>
        {{ form.text(class="form-control") }}<br>
        {% for error in form.text.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.answer.label }}<br>
        {{ form.answer(class="form-control") }}<br>
        {% for error in form.answer.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <a class="btn btn-success" href="/game/{{game.id}}/category/{{category.id}}">Add</a>
    {{ message }}
</form>
{% endblock %}